body {
    background-image: linear-gradient(#d5977e, #27465d);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: arial;
    width: 50%;
    margin-left: 200px;
}



.girlie {
	display: inline-block;
	position: absolute;
	min-width: 750px;
	max-width: 750px;
}


h1 {
	display: inline-block;
	position: relative;
	font-family: "arial";
	color:#27465d;
	font-size: 100px;
	text-transform: uppercase;
	text-shadow: 2px 2px #d5977e;
	margin-top: 230px;
	margin-left: 650px;
	margin-bottom: 0px;
}



a {
	text-decoration: none;
	color: #d8c3c0;
	text-transform: lowercase;
	transition: 0.3s;
}

a:hover {
	color:white;
}


p {
	color: #fdca95;
	font-weight: bold;
}



.wrapper {
	display: block;
	position: absolute;
	background-image: linear-gradient(#d5977e, #27465d);
	padding: 3px 15px;
	border-radius: 20px;
	width: 200px;
	opacity: 0.85;
	margin-top: 0px;
	margin-left: 650px;

}



.future {
	display: none;
}



.homepage {
	position: fixed;
    top: 10px;
    left: 10px;
    color: yellow;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    font-family:monospace;
    opacity: 0.7;
    transition: 0.3s;
}


.homepage:hover {
	position: fixed;
    top: 10px;
    left: 10px;
    color: yellow;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    font-family:monospace;
    opacity: 1.0;
}