
.line1 {
	font-family: arial;
	text-align: right;
	font-size: 200px;
	color:#959e89;
	font-weight: bold;
	margin-right: 100px;
	margin-top: 30px;
	font-style: italic;
	line-height: 190px;
}


.line2 {
	font-family: arial;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	margin-right: 100px;
	margin-top: 200px;
	font-style: italic;
	line-height: 190px;
	text-transform: uppercase;
}


.line3 {
	text-align: center;
	text-transform: lowercase;
	font-family: arial;
	font-style: italic;
	color:#1471b9;
	margin-top: 20%;
	letter-spacing: 3px;
	word-spacing: 7px;
	font-size: 20px;
}


a {
	text-decoration: none;
	color:#959e89;
}

a:hover {
	text-decoration: none;
	color:#bb2b37;
}