
.movar {
	position: absolute;
	bottom:500px;
	right:10px;
	text-align: right;
}


.gone {
	text-transform: uppercase;
	font-family: arial;
	font-style: italic;
	display: inline;
	font-size: 12px;
	margin-right:400px;
	z-index: 2;
}


.possess {
	font-size:280px;
	color:#bb2b37;
	line-height: 100px;
	font-family: arial;
	font-style: italic;
	font-weight: bold;
	z-index: -1;
}


a {
	text-decoration: none;
	color:#1471b9;
}

a:hover {
	font-weight: bold;
}
