body {
	background-color: #1471b9;
}

a {
	color: #959e89;
	text-decoration: none;

}

a:hover {
	color: white;
	font-style: normal;
	text-transform: uppercase;
}

.container {
	font-family: arial;
	letter-spacing: 2px;
	word-spacing: 7px;
	font-weight: bold;
	font-style: italic;
	color: #959e89;
	margin: 0 auto;
	width: 50%;
	height: 50%;
	margin-top: 20%;
	text-align: center;
}
