body {
	background-color: #1471b9;
}

a {
	color: #959e89;
	text-decoration: none;

}

a:hover {
	color: white;
	text-transform: uppercase;
}

.container {
	font-family: arial;
	letter-spacing: 2px;
	word-spacing: 7px;
	font-weight: bold;
	font-style: italic;
	color: #959e89;
	margin: 0 auto;
	width: 50%;
	height: 50%;
	margin-top: 20%;
	text-align: center;
}

.biba {
	font-family: arial;
	letter-spacing: 2px;
	word-spacing: 7px;
	font-weight: bold;
	font-style: italic;
	color: #fff;
	margin: 0 auto;
	position: absolute;
	font-size: 400px;

}


.biba2 {
	font-family: arial;
	letter-spacing: 2px;
	word-spacing: 7px;
	font-weight: bold;
	font-style: italic;
	color: #fff;
	margin: 0 auto;
	position: absolute;
	font-size: 600px;
	right:20px;
}


.biba3 {
	font-family: arial;
	letter-spacing: 2px;
	word-spacing: 7px;
	font-weight: bold;
	font-style: italic;
	color: #fff;
	margin: 0 auto;
	position: absolute;
	font-size: 900px;
	left:20px;
}