body {
	margin:0px;
	
	margin-left: 120px;
	font-family: arial;
	background-image: linear-gradient(#000, lightgray);
	background-attachment: fixed;
}

#wrapper {
	transform: skew(10deg);
}

.how {
	letter-spacing: 50px;
	color: white;
	font-size: 15px;
	margin:30px;
}


.sad {
	letter-spacing: 50px;
	color: white;
	font-size: 20px;
	margin:30px;
}


.to { 
	letter-spacing: 50px;
	color: white;
	font-size: 20px;
	margin:30px;
}



.last {
	letter-spacing: 50px;
	color: white;
	font-size: 20px;
	margin:30px;
}



.of {
	letter-spacing: 50px;
	color: white;
	font-size: 20px;
	margin:30px;

}



.nobody{
	letter-spacing: 50px;
	color: white;
	font-size: 20px;
	margin:30px;
}



.the {
	letter-spacing: 50px;
	color: white;
	font-size: 20px;
	margin:30px;
}

.life {
	letter-spacing: 50px;
	color: white;
	font-size: 20px;
	margin:30px;
}

.diversified {
	letter-spacing: 50px;
	color: white;
	font-size: 20px;
	margin:30px;
}

.less {
	letter-spacing: 50px;
	color: white;
	font-size: 20px;
	margin:30px;
}

.for {
	letter-spacing: 50px;
	color: white;
	font-size: 20px;
	margin:30px;
}

.and {
	letter-spacing: 50px;
	color: white;
	font-size: 20px;
	margin:30px;
}


.oflife {
	letter-spacing: 50px;
	color: white;
	font-size: 20px;
	margin:30px;
}

.that {
	letter-spacing: 50px;
	color: white;
	font-size: 20px;
	margin:30px;
}

.will {
	letter-spacing: 50px;
	color: white;
	font-size: 20px;
	margin:30px;
}

.interest {
	letter-spacing: 50px;
	color: white;
	font-size: 20px;
	margin:30px;
}

.greed {
	letter-spacing: 100px;
	line-height: 1px;
	color: white;
	font-size: 90px;
	margin:30px;
}


a {
	text-decoration: none;
	color: gray;
}

#bye {
	visibility: hidden;
}

.nav {
    font-family:sans-serif;
    font-size:14px;
    color:#F96ADA;
    letter-spacing: 4px;
    text-align:center;
    position:fixed;
    margin-left: 80%;
    position: relative;

}

.prev {
	display: inline-block;
	position: relative;
	letter-spacing: 10px;
	padding:10px;
	filter: blur(1px);
}

.prev:hover {
	display: inline-block;
	position: relative;
	letter-spacing: 10px;
	padding:10px;
	filter: blur(0px);
}


.home {
	display: inline-block;
	position: relative;
	letter-spacing: 10px;
	padding:10px;
	filter: blur(1px);
	
}


.home:hover {
	display: inline-block;
	position: relative;
	letter-spacing: 10px;
	padding:10px;
	filter: blur(0px);

}

.next {
	display: inline-block;
	position: relative;
	letter-spacing: 10px;
	padding:10px;
	filter: blur(1px);
	
}

.next:hover {
	display: inline-block;
	position: relative;
	letter-spacing: 10px;
	padding:10px;
	filter: blur(0px);
