body {
    background-image: linear-gradient(#baddd6, #6d8c85);
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

h1 {
	color: white;
}


.homepage {
	position: fixed;
    top: 10px;
    right: 10px;
    transition: 0.4s;
    opacity: 0.5;
}


.homepage:hover {
	position: fixed;
    top: 10px;
    right: 10px;
    opacity: 1.0;
}



.hide {
    display: none;
}


a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightgreen;
}