body {
	margin: 0 auto;
	width: 100%;	
	text-align: center;
	background-color: black;
}

.pickle {
	display: block;
	position: relative;
	font-size: 300px;
	color: white;
	background-color: white;
}

.pickle:hover {
	display: inline-block;
	position: relative;
	background-color: black;
	color: white;
}

#wrapper {
	
}
