body {
	background-image: linear-gradient(white, black);
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
	margin: 0 auto;
	width: 100%;	
	text-align: center;
	font-family: arial;
	text-transform: lowercase;
}

.pickle {
	position: relative;
	font-size: 20px;
	color: transparent;
	letter-spacing:35px;
	transition: 0.5s;
	margin:10px;
	padding:30px;
}

.pickle:hover {
	position: relative;
	color: white;
	text-shadow: 2px 2px gray;
	letter-spacing: 30px;
	font-size: 15px;
	margin:10px;
	padding:30px;
}

#wrapper {
	
}
