

.line1 {
	background-image: linear-gradient(white,black);
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
	display: inline-block;
	position: absolute;
	width: 100%;
	margin:0 auto;
	font-family: impact;
	text-transform: uppercase;
	font-size: 1000px;
	text-align: center;
}

.wrapper {
	display: inline-block;
	text-align: center;
	position: absolute;
	color: white;
	margin-top: 600px;
	width: 100%;
	font-size: 8px;
	letter-spacing: 4.9px;
}