body {
	margin: -10px;
  overflow: hidden;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 500px 0;
  font-size: 30px;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.burst {
  position: absolute;
  display: inline-block;
  height: 100px;
  margin: 20px;
  background: radial-gradient(#fceabb, #f8b500);
  background-repeat: no-repeat;
  z-index: 10;
}