@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Fredoka+One);


body {
	padding: 0px;
	margin:0px;
	margin: 0 auto;
	background-color: #242d38;
	z-index: 
}



.wave {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	height: 100%;
	width: 200%;
	background-position: 0 bottom;
	background-repeat: repeat-x;
	transform-origin: center bottom;
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}




@keyframes waves{
	0% {transform: translateX(0) translateZ(0) scaleY(1)}
	50% {transform: translateX(-25%) translateZ(0) scaleY(.5)}
	100% {transform: translateX(-50%) translateZ(0) scaleY(1)}
}




#text {
	
	margin-top: 0px;
	transition: 0.5s;
}


.line1 {
	font-style: italic;
	font-size: 40px;
	background-color: #368cbb;
	padding: 5px;
}


.line2 {
	font-style: italic;
	font-size: 40px;
	background-color: #4299b5;
	color:white;
	padding: 5px;
}

.line3 {
	font-style: italic;
	font-size: 40px;
	background-color: #4da7b0;
	color:white;
	padding: 5px;
}

.line4 {
	font-style: italic;
	font-size: 40px;
	background-color: #5eb9a8;
	color:white;
	padding: 5px;
}

.line5 {
	font-style: italic;
	font-size: 40px;
	background-color: #6ac3a4;
	color:white;
	padding: 5px;
}

.line6 {
	font-style: italic;
	font-size: 40px;
	background-color: #77c8a4;
	color:white;
	padding: 5px;
}


.line7 {
	font-style: italic;
	font-size: 40px;
	background-color: #86cea4;
	color:white;
	padding: 5px;
}


.line8 {
	font-style: italic;
	font-size: 40px;
	background-color: #97d5a4;
	color:white;
	padding: 5px;
}


.line9 {
	font-style: italic;
	font-size: 40px;
	background-color: #aedea3;
	color:white;
	padding: 5px;
}


.line10 {
	font-style: italic;
	font-size: 40px;
	background-color: #b9e2a1;
	color:white;
	padding: 5px;
}


.line11 {
	font-style: italic;
	font-size: 40px;
	background-color: #c7e89e;
	color:white;
	padding: 5px;
}


.line12 {
	font-style: italic;
	font-size: 40px;
	background-color: #d2ed9b;
	color:white;
	padding: 5px;
}



.line13 {
	font-style: italic;
	font-size: 40px;
	background-color: #e1f398;
	color:white;
	padding: 5px;
}


.line14 {
	font-style: italic;
	font-size: 40px;
	background-color: #eaf69e;
	color:white;
	padding: 5px;
}


.line15 {
	font-style: italic;
	font-size: 40px;
	background-color: #eff8a7;
	color:white;
	padding: 5px;
}


.line16 {
	font-style: italic;
	font-size: 40px;
	background-color: #f6fbb1;
	color:white;
	padding: 5px;
}


.line17 {
	font-style: italic;
	font-size: 40px;
	background-color: #fcfdba;
	color:white;
	padding: 5px;
}

.line18 {
	font-style: italic;
	font-size: 40px;
	background-color: #fefbb8;
	color:white;
	padding: 5px;
}

.line19 {
	font-style: italic;
	font-size: 40px;
	background-color: #fef3ab;
	color:white;
	padding: 5px;
}

.line20 {
	font-style: italic;
	font-size: 40px;
	background-color: #feeb9f;
	color:white;
	padding: 5px;
}

.line21 {
	font-style: italic;
	font-size: 40px;
	background-color: #fee492;
	color:white;
	padding: 5px;
}

.line22 {
	font-style: italic;
	font-size: 40px;
	background-color: #fddb86;
	color:white;
	padding: 5px;
}

.line23 {
	font-style: italic;
	font-size: 40px;
	background-color: #fddb86;
	color:white;
	padding: 5px;
}

.line24 {
	font-style: italic;
	font-size: 40px;
	background-color: #fdcf7c;
	color:white;
	padding: 5px;
}

.line25 {
	font-style: italic;
	font-size: 40px;
	background-color: #fdc272;
	color:white;
	padding: 5px;
}

.line26 {
	font-style: italic;
	font-size: 40px;
	background-color: #fdb668;
	color:white;
	padding: 5px;
}


.line27 {
	font-style: italic;
	font-size: 40px;
	background-color: #fca95f;
	color:white;
	padding: 5px;
}



.line28 {
	font-style: italic;
	font-size: 40px;
	background-color: #fa9957;
	color:white;
	padding: 5px;
}



.line29 {
	font-style: italic;
	font-size: 40px;
	background-color: #f78950;
	color:white;
	padding: 5px;
}



.line30 {
	font-style: italic;
	font-size: 40px;
	background-color: #f57a49;
	color:white;
	padding: 5px;
}



.line31 {
	font-style: italic;
	font-size: 40px;
	background-color: #f26b43;
	color:white;
	padding: 5px;
}



.line32 {
	font-style: italic;
	font-size: 40px;
	background-color: #eb5f46;
	color:white;
	padding: 5px;
}

.line33 {
	font-style: italic;
	font-size: 40px;
	background-color: #e35449;
	color:white;
	padding: 5px;
}

.line34 {
	font-style: italic;
	font-size: 40px;
	background-color: #dc494c;
	color:white;
	padding: 5px;
}

.line35 {
	font-style: italic;
	font-size: 40px;
	background-color: #e35449;
	color:white;
	padding: 5px;
}

.line36 {
	font-style: italic;
	font-size: 40px;
	background-color: #eb5f46;
	color:white;
	padding: 5px;
}

.line37 {
	font-style: italic;
	font-size: 40px;
	background-color: #f26b43;
	color:white;
	padding: 5px;
}

.line38 {
	font-style: italic;
	font-size: 40px;
	background-color: #f57a49;
	color:white;
	padding: 5px;
}

.line39 {
	font-style: italic;
	font-size: 40px;
	background-color: #f78950;
	color:white;
	padding: 5px;
}


.line40 {
	font-style: italic;
	font-size: 40px;
	background-color: #fa9957;
	color:white;
	padding: 5px;
}


.line41 {
	font-style: italic;
	font-size: 40px;
	background-color: #fca95f;
	color:white;
	padding: 5px;
}

.line42 {
	font-style: italic;
	font-size: 40px;
	background-color: #fdb668;
	color:white;
	padding: 5px;
}


.line43 {
	font-style: italic;
	font-size: 40px;
	background-color: #fdc272;
	color:white;
	padding: 5px;
}


.line44 {
	font-style: italic;
	font-size: 40px;
	background-color: #fdcf7c;
	color:white;
	padding: 5px;
}


.line45 {
	font-style: italic;
	font-size: 40px;
	background-color: #fddb86;
	color:white;
	padding: 5px;
}


.line46 {
	font-style: italic;
	font-size: 40px;
	background-color: #fee492;
	color:white;
	padding: 5px;
}

.line47 {
	font-style: italic;
	font-size: 40px;
	background-color: #feeb9f;
	color:white;
	padding: 5px;
}



a {
	text-decoration: none;
	color: white;
}

#bye {
	visibility: hidden;
}

.nav {
    font-family:sans-serif;
    font-size:14px;
    color:#F96ADA;
    letter-spacing: 4px;
    text-align:center;
    position: absolute;
    display: inline-block;
    margin-left: 84%;
    z-index: 100;
}

.prev {
	display: inline-block;
	position: relative;
	letter-spacing: 10px;
	padding:10px;
	filter: blur(1px);
}

.prev:hover {
	display: inline-block;
	position: relative;
	letter-spacing: 10px;
	padding:10px;
	filter: blur(0px);
}


.home {
	display: inline-block;
	position: relative;
	letter-spacing: 10px;
	padding:10px;
	filter: blur(1px);
	
}


.home:hover {
	display: inline-block;
	position: relative;
	letter-spacing: 10px;
	padding:10px;
	filter: blur(0px);

}

.next {
	display: inline-block;
	position: relative;
	letter-spacing: 10px;
	padding:10px;
	filter: blur(1px);
	
}

.next:hover {
	display: inline-block;
	position: relative;
	letter-spacing: 10px;
	padding:10px;
	filter: blur(0px);

}



@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}



#how {
	position: absolute;
    display: inline-block;
    margin: 20px;
    margin-left: 100px;
    margin-top: 300px;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size:25px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.2;
    filter: blur(5px);
    transition:0.5s;
    -webkit-transition:0.5s;
    z-index: 200;
    animation: float 6s ease-in-out infinite;
}

#how:hover {
	font-style: "Fredoka One", sans-serif;
	position: absolute;
    display: inline-block;
    opacity: 1;
    filter: blur(2px);
    z-index: 200;
}


.sad {
	position: absolute;
    display: inline-block;
    margin: 20px;
    margin-left: 300px;
    margin-top: 400px;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size:25px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.2;
    filter: blur(5px);
    transition:0.5s;
    -webkit-transition:0.5s;
    z-index: 200;
    animation: float 6s ease-in-out infinite;
}

.sad:hover {
	font-style: "Fredoka One", sans-serif;
	position: absolute;
    display: inline-block;
    opacity: 1;
    filter: blur(2px);
    z-index: 200;
}

.to { 
	position: absolute;
    display: inline-block;
    margin: 20px;
    margin-left: 800px;
    margin-top: 500px;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size:15px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.2;
    filter: blur(5px);
    transition:0.5s;
    -webkit-transition:0.5s;
    z-index: 200;
    animation: float 6s ease-in-out infinite;
}

.to:hover {
	font-style: "Fredoka One", sans-serif;
	position: absolute;
    display: inline-block;
    opacity: 1;
    filter: blur(2px);
    z-index: 200;
}

.last {
	position: absolute;
    display: inline-block;
    margin: 20px;
    margin-left: 900px;
    margin-top: 300px;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size:90px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.2;
    filter: blur(7px);
    transition:0.5s;
    -webkit-transition:0.5s;
    z-index: 200;
    animation: float 10s ease-in-out infinite;
}

.last:hover {
	font-style: "Fredoka One", sans-serif;
	position: absolute;
    display: inline-block;
    opacity: 1;
    filter: blur(20px);
    z-index: 200;

}

.of {
	position: absolute;
    display: inline-block;
    margin: 20px;
    margin-left:500px;
    margin-top:300px;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size:30px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.2;
    filter: blur(5px);
    transition:0.5s;
    -webkit-transition:0.5s;
    z-index: 200;
    animation: float 6s ease-in-out infinite;
}

.of:hover {
	font-style: "Fredoka One", sans-serif;
	position: absolute;
    display: inline-block;
    opacity: 1;
    filter: blur(2px);
    z-index: 200;
}


.nobody{
	position: absolute;
    display: inline-block;
    margin: 20px;
    margin-left: 1500px;
    margin-top: 400px;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size:15px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.2;
    filter: blur(5px);
    transition:0.5s;
    -webkit-transition:0.5s;
    z-index: 200;
    animation: float 6s ease-in-out infinite;
}

.nobody:hover {
	font-style: "Fredoka One", sans-serif;
	position: absolute;
    display: inline-block;
    opacity: 1;
    filter: blur(2px);
    z-index: 200;
}

.the {
	position: absolute;
    display: inline-block;
    margin: 20px;
    margin-left: 1500px;
    margin-top: 600px;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size:23px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.2;
    filter: blur(5px);
    transition:0.5s;
    -webkit-transition:0.5s;
    z-index: 200;
    animation: float 6s ease-in-out infinite;
}

.the:hover {
	font-style: "Fredoka One", sans-serif;
	position: absolute;
    display: inline-block;
    opacity: 1;
    filter: blur(2px);
    z-index: 200;
}

.life {
	position: absolute;
    display: inline-block;
    margin: 20px;
    margin-left: 600px;
    margin-top: 560px;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size:78px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.2;
    filter: blur(7px);
    transition:0.5s;
    -webkit-transition:0.5s;
    z-index: 200;
    animation: float 9s ease-in-out infinite;
}

.life:hover {
	font-style: "Fredoka One", sans-serif;
	position: absolute;
    display: inline-block;
    opacity: 1;
    filter: blur(20px);
    z-index: 200;
}

.willbe {
	position: absolute;
    display: inline-block;
    margin: 20px;
    margin-left: 1600px;
    margin-top: 350px;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size:10px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.2;
    filter: blur(3px);
    transition:0.5s;
    -webkit-transition:0.5s;
    z-index: 200;
    animation: float 6s ease-in-out infinite;

}

.willbe:hover {
	font-style: "Fredoka One", sans-serif;
	position: absolute;
    display: inline-block;
    opacity: 1;
    filter: blur(1px);
    z-index: 200;
}

.diversified {
	position: absolute;
    display: inline-block;
    margin: 20px;
    margin-left: 1000px;
    margin-top: 500px;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size:40px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.2;
    filter: blur(6px);
    transition:0.5s;
    -webkit-transition:0.5s;
    z-index: 200;
    animation: float 10s ease-in-out infinite;

}

.diversified:hover {
	font-style: "Fredoka One", sans-serif;
	position: absolute;
    display: inline-block;
    opacity: 1;
    filter: blur(27px);
    z-index: 200;
}

.less {
	position: absolute;
    display: inline-block;
    margin: 20px;
    margin-left: 50px;
    margin-top: 500px;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size:50px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.2;
    filter: blur(15px);
    transition:0.5s;
    -webkit-transition:0.5s;
    z-index: 200;
    animation: float 8s ease-in-out infinite;
}

.less:hover {
	font-style: "Fredoka One", sans-serif;
	position: absolute;
    display: inline-block;
    opacity: 1;
    filter: blur(7px);
    z-index: 200;
}

.degree {
	position: absolute;
    display: inline-block;
    margin: 20px;
    margin-left: 1200px;
    margin-top: 410px;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size:15px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.2;
    filter: blur(5px);
    transition:0.5s;
    -webkit-transition:0.5s;
    z-index: 200;
    animation: float 6s ease-in-out infinite;
}

.degree:hover {
	font-style: "Fredoka One", sans-serif;
	position: absolute;
    display: inline-block;
    opacity: 1;
    filter: blur(2px);
    z-index: 200;
}

.for {
	position: absolute;
    display: inline-block;
    margin: 20px;
    margin-left: 150px;
    margin-top: 800px;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size:60px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.2;
    filter: blur(8px);
    transition:0.5s;
    -webkit-transition:0.5s;
    z-index: 200;
    animation: float 10s ease-in-out infinite;
}

.for:hover {
	font-style: "Fredoka One", sans-serif;
	position: absolute;
    display: inline-block;
    opacity: 1;
    filter: blur(18px);
    z-index: 200;
}

.and {
	position: absolute;
    display: inline-block;
    margin: 20px;
    margin-left: 1700px;
    margin-top: 900px;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size:90px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.2;
    filter: blur(25px);
    transition:0.5s;
    -webkit-transition:0.5s;
    z-index: 200;
    animation: float 5s ease-in-out infinite;
}

.and:hover {
	font-style: "Fredoka One", sans-serif;
	position: absolute;
    display: inline-block;
    opacity: 1;
    filter: blur(13px);
    z-index: 200;
}

.bright {
	position: absolute;
    display: inline-block;
    margin: 20px;
    margin-left: 750px;
    margin-top: 1060px;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size:60px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.2;
    filter: blur(13px);
    transition:0.5s;
    -webkit-transition:0.5s;
    z-index: 200;
    animation: float 10s ease-in-out infinite;
}

.bright:hover {
	font-style: "Fredoka One", sans-serif;
	position: absolute;
    display: inline-block;
    opacity: 1;
    filter: blur(9px);
    z-index: 200;
}

.oflife {
	position: absolute;
    display: inline-block;
    margin: 20px;
    margin-left: 900px;
    margin-top: 900px;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size:15px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.2;
    filter: blur(5px);
    transition:0.5s;
    -webkit-transition:0.5s;
    z-index: 200;
    animation: float 9s ease-in-out infinite;
}

.oflife:hover {
	font-style: "Fredoka One", sans-serif;
	position: absolute;
    display: inline-block;
    opacity: 1;
    filter: blur(2px);
    z-index: 200;
}

.that {
	position: absolute;
    display: inline-block;
    margin: 20px;
    margin-left: 1000px;
    margin-top: 700px;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size:90px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.2;
    filter: blur(20px);
    transition:0.5s;
    -webkit-transition:0.5s;
    z-index: 200;
    animation: float 6s ease-in-out infinite;
}

.that:hover {
	font-style: "Fredoka One", sans-serif;
	position: absolute;
    display: inline-block;
    opacity: 1;
    filter: blur(10px);
    z-index: 200;
}

.will {
	position: absolute;
    display: inline-block;
    margin: 20px;
    margin-left: 1900px;
    margin-top: 450px;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size:15px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.2;
    filter: blur(5px);
    transition:0.5s;
    -webkit-transition:0.5s;
    z-index: 200;
    animation: float 8s ease-in-out infinite;
}

.will:hover {
	font-style: "Fredoka One", sans-serif;
	position: absolute;
    display: inline-block;
    opacity: 1;
    filter: blur2px);
    z-index: 200;
}

.interest {
	position: absolute;
    display: inline-block;
    margin: 20px;
    margin-left: 2000px;
    margin-top: 350px;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size:20px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.2;
    filter: blur(5px);
    transition:0.5s;
    -webkit-transition:0.5s;
    z-index: 200;
    animation: float 7s ease-in-out infinite;
}

.interest:hover {
	font-style: "Fredoka One", sans-serif;
	position: absolute;
    display: inline-block;
    opacity: 1;
    filter: blur(2px);
    z-index: 200;
}

.greed {
	position: absolute;
    display: inline-block;
    right: 0px;
    margin: 20px;
    margin-left: 20px;
    margin-top: 1000px;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size:700px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.2;
    filter: blur(30px);
    transition:0.5s;
    -webkit-transition:0.5s;
    z-index: 150;
    animation: float 4s ease-in-out infinite;
}

.greed:hover {
	font-style: "Fredoka One", sans-serif;
	position: absolute;
    display: inline-block;
    opacity: 1;
    filter: blur(2px);
    z-index: 200;
}	