@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);


body {
	
	text-align: center;
	font-family: Yanone Kaffeesatz;
	font-size: 20px;
	animation: pulse 20s infinite;
	text-transform: uppercase;
}

@keyframes pulse {
  0% {
    background-color: lightblue;
  }

  50%{
    background-color: coral;
  }

  100% {
    background-color: lightblue;
  }
}

.wrapper {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
    height: 900px;
    padding: 10px;
}


.how {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(3px);
    transition:0.5s;
    -webkit-transition:0.5s;
}

.how:hover {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(0px);
}


.sad {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(3px);
    transition:0.5s;
    -webkit-transition:0.5s;
}

.sad:hover {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(0px);
}

.to { 
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(3px);
    transition:0.5s;
    -webkit-transition:0.5s;
}

.to:hover {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(0px);
}

.last {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(3px);
    transition:0.5s;
    -webkit-transition:0.5s;
}

.last:hover {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(0px);

}

.of {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(3px);
    transition:0.5s;
    -webkit-transition:0.5s;
}

.of:hover {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(0px);
}


.nobody{
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(3px);
    transition:0.5s;
    -webkit-transition:0.5s;
}

.nobody:hover {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(0px);
}

.the {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(3px);
    transition:0.5s;
    -webkit-transition:0.5s;
}

.the:hover {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(0px);
}

.life {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(3px);
    transition:0.5s;
    -webkit-transition:0.5s;
}

.life:hover {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(0px);
}

.willbe {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(3px);
    transition:0.5s;
    -webkit-transition:0.5s;

}

.willbe:hover {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(0px);
}

.diversified {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(3px);
    transition:0.5s;
    -webkit-transition:0.5s;

}

.diversified:hover {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(0px);
}

.less {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(3px);
    transition:0.5s;
    -webkit-transition:0.5s;
}

.less:hover {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(0px);
}

.degree {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(3px);
    transition:0.5s;
    -webkit-transition:0.5s;
}

.degree:hover {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(0px);
}

.for {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(3px);
    transition:0.5s;
    -webkit-transition:0.5s;
}

.for:hover {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(0px);
}

.and {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(3px);
    transition:0.5s;
    -webkit-transition:0.5s;
}

.and:hover {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(0px);
}

.bright {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(3px);
    transition:0.5s;
    -webkit-transition:0.5s;
}

.bright:hover {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(0px);
}

.oflife {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(3px);
    transition:0.5s;
    -webkit-transition:0.5s;
}

.oflife:hover {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(0px);
}

.that {
	position: relative;
    display: inline-block;
    margin: 20px;
	filter: blur(3px);
	transition:0.5s;
    -webkit-transition:0.5s;
}

.that:hover {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(0px);
}

.will {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(3px);
    transition:0.5s;
    -webkit-transition:0.5s;
}

.will:hover {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(0px);
}

.interest {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(3px);
    transition:0.5s;
    -webkit-transition:0.5s;
}

.interest:hover {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(0px);
}

.greed {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(3px);
    transition:0.5s;
    -webkit-transition:0.5s;
}

.greed:hover {
	position: relative;
    display: inline-block;
    margin: 20px;
    filter: blur(0px);
}



a {
    text-decoration: none;
    color: gray;
    text-transform: lowercase;
}

#bye {
    visibility: hidden;
}

.nav {
    font-family:sans-serif;
    font-size:14px;
    color:#F96ADA;
    letter-spacing: 4px;
    text-align:center;
    position:fixed;
    margin-left: 84%;
}

.prev {
    display: inline-block;
    position: relative;
    letter-spacing: 10px;
    padding:10px;
    filter: blur(1px);
}

.prev:hover {
    display: inline-block;
    position: relative;
    letter-spacing: 10px;
    padding:10px;
    filter: blur(0px);
}


.home {
    display: inline-block;
    position: relative;
    letter-spacing: 10px;
    padding:10px;
    filter: blur(1px);
    
}


.home:hover {
    display: inline-block;
    position: relative;
    letter-spacing: 10px;
    padding:10px;
    filter: blur(0px);

}

.next {
    display: inline-block;
    position: relative;
    letter-spacing: 10px;
    padding:10px;
    filter: blur(1px);
    
}

.next:hover {
    display: inline-block;
    position: relative;
    letter-spacing: 10px;
    padding:10px;
    filter: blur(0px);