body {
	margin:0px;
	font-family: arial;
	background-image: linear-gradient(#fff, gray);
	background-size: 100%;
	background-attachment: fixed;
	font-size:15px;
	text-transform: uppercase;
}

.wrapper {
	margin-top:1600px;
	margin-left: 800px;
	margin-bottom: 0px;
}

.how {
	
	transform: rotate(90deg);
	
}


.sad {
	transform: rotate(85deg);
}


.to { 
	transform: rotate(80deg);
}



.last {
	transform: rotate(75deg);
}



.of {
	transform: rotate(70deg);
}


.nobody{
	transform: rotate(65deg);
}


.the {
	transform: rotate(60deg);
}

.life {
	transform: rotate(55deg);

}

.willbe {
	transform: rotate(50deg);
}

.diversified {
	transform: rotate(45deg);
}

.less {
	transform: rotate(45deg);

}

.degree {
	transform: rotate(40deg);

}

.for {
	transform: rotate(35deg);
	
}

.and {
	transform: rotate(30deg);

}

.bright {
	transform: rotate(25deg);
}

.oflife {
	transform: rotate(20deg);
}

.that {
	transform: rotate(15deg);
}

.will {
	transform: rotate(10deg);
}

.interest {
	transform: rotate(5deg);

}

.greed {
	transform: rotate(0deg);
	margin-bottom: 0px;
}







.nav {
    font-family:sans-serif;
    font-size:15px;
    letter-spacing: 4px;
    position:fixed;
    top:0px;
    margin-left: 84%;
	text-transform: lowercase;
}


.nav a {
	text-decoration: none;
	color: gray;
}

.prev {
	display: inline-block;
	position: relative;
	letter-spacing: 10px;
	padding:10px;
	filter: blur(1px);
}

.prev:hover {
	display: inline-block;
	position: relative;
	letter-spacing: 10px;
	padding:10px;
	filter: blur(0px);
}


.home {
	display: inline-block;
	position: relative;
	letter-spacing: 10px;
	padding:10px;
	filter: blur(1px);
	
}


.home:hover {
	display: inline-block;
	position: relative;
	letter-spacing: 10px;
	padding:10px;
	filter: blur(0px);

}

.next {
	display: inline-block;
	position: relative;
	letter-spacing: 10px;
	padding:10px;
	filter: blur(1px);
	
}

.next:hover {
	display: inline-block;
	position: relative;
	letter-spacing: 10px;
	padding:10px;
	filter: blur(0px);

}